<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.steam.game.mapper.GameMapper">
	<resultMap type="com.itwill.steam.game.Game" id="gameWithResourcesGameTag" autoMapping="true">
		<id column="g_no" property="gNo"/>
		<collection property="resourcesList" ofType="com.itwill.steam.resources.Resources" autoMapping="true">
		</collection>
		<collection property="gameTagList" ofType="com.itwill.steam.gameTag.GameTag" autoMapping="true">
			<id column="gt_no" property="gtNo"/>
			<association property="tag" javaType="com.itwill.steam.tag.Tag" autoMapping="true">
			</association>
		</collection>	
	</resultMap>
	<resultMap type="com.itwill.steam.game.Game" id="gameWithCategoryResourcesGameTagGameLanguage" autoMapping="true">
		<id column="g_no" property="gNo"/>
		<association property="category" javaType="com.itwill.steam.category.Category" autoMapping="true">
		</association>
		<collection property="resourcesList" ofType="com.itwill.steam.resources.Resources" autoMapping="true">
		</collection>
		<collection property="gameTagList" ofType="com.itwill.steam.gameTag.GameTag" autoMapping="true">
			<id column="gt_no" property="gtNo"/>
			<association property="tag" javaType="com.itwill.steam.tag.Tag" autoMapping="true">
			</association>
		</collection>
		<collection property="gameLanguageList" ofType="com.itwill.steam.gameLanguage.GameLanguage" autoMapping="true">
			<id column="gl_no" property="glNo"/>
			<association property="language" javaType="com.itwill.steam.language.Language" autoMapping="true">
			</association>
		</collection>
	</resultMap>
	<resultMap type="com.itwill.steam.game.Game" id="gameWithCategoryResourcesGameTagGameLanguageNewsReview" autoMapping="true">
		<id column="g_no" property="gNo"/>
		<association property="category" javaType="com.itwill.steam.category.Category" autoMapping="true">
		</association>
		<collection property="resourcesList" ofType="com.itwill.steam.resources.Resources" autoMapping="true">
		</collection>
		<collection property="gameTagList" ofType="com.itwill.steam.gameTag.GameTag" autoMapping="true">
			<id column="gt_no" property="gtNo"/>
			<association property="tag" javaType="com.itwill.steam.tag.Tag" autoMapping="true">
			</association>
		</collection>
		<collection property="gameLanguageList" ofType="com.itwill.steam.gameLanguage.GameLanguage" autoMapping="true">
			<id column="gl_no" property="glNo"/>
			<association property="language" javaType="com.itwill.steam.language.Language" autoMapping="true">
			</association>
		</collection>
		<collection property="newsList" ofType="com.itwill.steam.news.News" autoMapping="true">
		</collection>
		<collection property="reviewList" ofType="com.itwill.steam.review.Review" autoMapping="true">
		</collection>
	</resultMap>
	<select id="findAllGames" resultMap="gameWithResourcesGameTag">
		select * 
		from game g 
		join resources res on g.g_no=res.g_no 
		join game_tag gt on g.g_no=gt.g_no 
		join tag t on t.tag_no=gt.tag_no
	</select>
	<select id="findGamesByName" resultMap="gameWithResourcesGameTag" parameterType="java.lang.String">
		select * 
		from game g 
		join resources res on g.g_no=res.g_no 
		join game_tag gt on g.g_no=gt.g_no 
		join tag t on t.tag_no=gt.tag_no 
		where g.g_name like '%'||#{gName}||'%'
		order by g.g_sell_count desc
	</select>
	<select id="findGamesByCategory" resultMap="gameWithCategoryResourcesGameTagGameLanguage" parameterType="java.lang.String">
		select * 
		from game g 
		join resources res on g.g_no=res.g_no 
		join game_tag gt on g.g_no=gt.g_no 
		join tag t on t.tag_no=gt.tag_no 
		join category ct on g.ct_no=ct.ct_no 
		join game_language gl on g.g_no=gl.g_no 
		join language l on gl.lang_no=l.lang_no
		where ct.ct_name=#{ctName}
	</select>
	<select id="findGamesByTag" resultMap="gameWithCategoryResourcesGameTagGameLanguage" parameterType="java.lang.String">
		select * 
		from game g 
		join resources res on g.g_no=res.g_no 
		join game_tag gt on g.g_no=gt.g_no 
		join tag t on t.tag_no=gt.tag_no 
		join category ct on g.ct_no=ct.ct_no 
		join game_language gl on g.g_no=gl.g_no 
		join language l on gl.lang_no=l.lang_no
		where t.tag_name=#{tagName}
	</select>
	<select id="findGamesByLanguage" resultMap="gameWithCategoryResourcesGameTagGameLanguage" parameterType="java.lang.String">
		select * 
		from game g 
		join resources res on g.g_no=res.g_no 
		join game_tag gt on g.g_no=gt.g_no 
		join tag t on t.tag_no=gt.tag_no 
		join category ct on g.ct_no=ct.ct_no 
		join game_language gl on g.g_no=gl.g_no 
		join language l on gl.lang_no=l.lang_no
		where l.lang_name=#{langName}
	</select>
	<select id="findPopularGames" resultMap="gameWithResourcesGameTag">
		select * 
		from game g 
		join resources res on g.g_no=res.g_no 
		join game_tag gt on g.g_no=gt.g_no 
		join tag t on t.tag_no=gt.tag_no 
		order by g.g_sell_count desc
	</select>
	<select id="findDiscountGames" resultMap="gameWithResourcesGameTag">
		select * 
		from game g 
		join resources res on g.g_no=res.g_no 
		join game_tag gt on g.g_no=gt.g_no 
		join tag t on t.tag_no=gt.tag_no 
		where g.g_discount_start <![CDATA[<=]]> sysdate and sysdate <![CDATA[<=]]> g.g_discount_end
	</select>
	<select id="findGameByNo" resultMap="gameWithCategoryResourcesGameTagGameLanguageNewsReview" parameterType="java.lang.Integer">
		select * from game g 
		join category ct on g.ct_no=ct.ct_no 
		join resources res on g.g_no=res.g_no 
		join game_tag gt on g.g_no=gt.g_no 
		join tag t on gt.tag_no=t.tag_no 
		join game_language gl on g.g_no=gl.g_no 
		join language l on gl.lang_no=l.lang_no 
		left outer join news n on g.g_no=n.g_no 
		left outer join review rev on g.g_no=rev.g_no
		where g.g_no=#{gNo}
	</select>
	<update id="increaseSellCountByNo" parameterType="java.lang.Integer">
		update game set g_sell_count=g_sell_count+1 where g_no=#{gNo}
	</update>
	
	<!-- ******************************************************************************************************************************************** -->
	
	<select id="findAllCategory" resultType="com.itwill.steam.category.Category">
		select * from category
	</select>
	<select id="findAllTag" resultType="com.itwill.steam.tag.Tag">
		select * from tag
	</select>
	<select id="findAllLanguage" resultType="com.itwill.steam.language.Language">
		select * from language
	</select>
	<select id="findNewGames" resultMap="gameWithResourcesGameTag">
		select * 
		from game g 
		join resources res on g.g_no=res.g_no 
		join game_tag gt on g.g_no=gt.g_no 
		join tag t on t.tag_no=gt.tag_no 
		order by g.g_release_date desc
	</select>
	<select id="findNewGamesByName" resultMap="gameWithResourcesGameTag" parameterType="java.lang.String">
		select * 
		from game g 
		join resources res on g.g_no=res.g_no 
		join game_tag gt on g.g_no=gt.g_no 
		join tag t on t.tag_no=gt.tag_no 
		where g.g_name like '%'||#{gName}||'%'
		order by g.g_release_date desc
	</select>
	
	<!-- ******************************************************************************************************************************************** -->
	
	<!-- 동적 SQL 사용 -->
	<select id="findGames" resultMap="gameWithCategoryResourcesGameTagGameLanguageNewsReview" parameterType="com.itwill.steam.game.SearchDto">
		select * from game g 
		join category ct on g.ct_no=ct.ct_no 
		join resources res on g.g_no=res.g_no 
		join game_tag gt on g.g_no=gt.g_no 
		join tag t on gt.tag_no=t.tag_no 
		join game_language gl on g.g_no=gl.g_no 
		join language l on gl.lang_no=l.lang_no 
		left outer join news n on g.g_no=n.g_no 
		left outer join review rev on g.g_no=rev.g_no
		
		where 1=1
		<if test="keyword != null">
			and lower(g.g_name) like lower('%'||#{keyword}||'%')
		</if>
		<if test="categoryList != null">
			<foreach item="item" collection="categoryList"
				open="and ct.ct_no in (" separator="," close=")">
				#{item.ctNo}
			</foreach>
		</if>
		<if test="tagList != null">
			<foreach item="item" collection="tagList"
				open="and t.tag_no in (" separator="," close=")">
				#{item.tagNo}
			</foreach>
		</if>
		<if test="languageList != null">
			<foreach collection="languageList" item="item"
				open="and l.lang_no in (" separator="," close=")">
				#{item.langNo}
			</foreach>
		</if>
		<if test="isDiscount == 3">
			and g.g_discount_start <![CDATA[<=]]> sysdate and sysdate <![CDATA[<=]]> g.g_discount_end
		</if>
		<choose>
			<when test="orderBy == 1">
				order by g.g_sell_count desc
			</when>
			<when test="orderBy == 2">
				order by g.g_release_date desc
			</when>
		</choose>
	</select>
</mapper>