<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.steam.ownedGame.mapper.OwnedGameMapper">
	<resultMap type="com.itwill.steam.ownedGame.OwnedGame" id="ownedGameWithGame" autoMapping="true">
		<id property="ogNo" column="og_no"/>
		<association property="user" javaType="com.itwill.steam.user.User" autoMapping="true">
		</association>
		<association property="game" javaType="com.itwill.steam.game.Game" autoMapping="true">
			<id property="gNo" column="g_no"/>
			<collection property="resourcesList" ofType="com.itwill.steam.resources.Resources" autoMapping="true">
			</collection>
			<collection property="gameTagList" ofType="com.itwill.steam.gameTag.GameTag" autoMapping="true">
				<id property="gtNo" column="gt_no"/>
				<association property="tag" javaType="com.itwill.steam.tag.Tag" autoMapping="true">
				</association>
			</collection>
		</association>
	</resultMap>
	
	<select id="ownedGameList" parameterType="com.itwill.steam.user.User" resultMap="ownedGameWithGame">
	SELECT 
	    	*
	   FROM owned_game og 
	    join game g on g.g_no=og.g_no
        join resources r on r.g_no = og.g_no
        join game_tag gt on g.g_no=gt.g_no
        join tag t on gt.tag_no=t.tag_no
	    WHERE u_no = #{uNo}
	    order by og_playtime desc
	</select>
	<!-- 가장많이 플레이한 4개 게임 -->
	<select id="getTop4OwnedGamesByPlaytime" parameterType="int" resultMap="ownedGameWithGame">	
		 SELECT *
	FROM (
	  SELECT 
	  	   og.g_no
	        , og.og_lastplay
	        , og.og_no
	        , og.og_playtime
	        , og.u_no
	        , g.g_name
	        , g.g_short_desc
	        , g.g_long_desc
	        , (select res_name from resources where g_no = og.g_no and rownum=1) as res_name
	   FROM owned_game og 
		    join game g on g.g_no=og.g_no
		    WHERE u_no = #{uNo}
		    order by og_playtime desc
	)
	WHERE ROWNUM &lt;= 4 
	</select>
	<!-- 가장최근에 플레이한 3개 게임 -->
	<select id="getTop4OwnedGamesByLastTime" parameterType="int" resultMap="ownedGameWithGame">	
		 SELECT *
	FROM (
	  SELECT 
	  		og.g_no
	        , og.og_lastplay
	        , og.og_no
	        , og.og_playtime
	        , og.u_no
	        , g.g_name
	        , g.g_short_desc
	        , g.g_long_desc
	        , (select res_name from resources where g_no = og.g_no and rownum=1) as res_name
	   FROM owned_game og 
		    join game g on g.g_no=og.g_no
		    WHERE u_no = #{uNo}
		    order by og_lastplay desc
	)
	WHERE ROWNUM &lt;= 3
	</select>
	<!-- ownedGame insert -->
	<insert id="insertOwnedGame" parameterType="java.util.Map">
		insert into owned_game(og_no, og_playtime, og_lastplay, u_no, g_no) values(OWNED_GAME_OG_NO_SEQ.nextval, 0, null, #{uNo}, #{gNo})
	</insert>
	<!-- 해당 조건의 ownedGame 존재하는지 확인 -->
	<select id="existOwnedGame" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) from owned_game where u_no=#{uNo} and g_no=#{gNo}
	</select>
	<select id="findOwnedGame" parameterType="java.util.Map" resultType="com.itwill.steam.ownedGame.OwnedGame">
		select * from owned_game where u_no=#{uNo} and g_no=#{gNo}
	</select>
</mapper>