<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common-sign-in">
	<div class="modal fade" id="userLogin" tabindex="-1" role="dialog" aria-labelledby="userLoginTitle" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content bg-dark text-light">
          <div class="modal-header border-secondary">
            <h5 class="modal-title" id="userLoginTitle" th:text="로그인">Log in</h5>
            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <div>
              <div class="text-center my-6"> 
                <a class="btn btn-circle btn-sm btn-google mr-2" href=""><i class="fab fa-google"></i></a>
                <a class="btn btn-circle btn-sm btn-facebook mr-2" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-circle btn-sm btn-twitter" href=""><i class="fab fa-twitter"></i></a>
              </div> 
              <span class="hr-text small my-6">Or</span>
            </div> 
            <form th:object="${fuser!=null? fuser : new com.itwill.steam.user.User()}"  name ="f" id="f" class="input-transparent">
            <input type="hidden" th:value="${loginSuccYn}" id="loginSuccYn" />
              <div class="form-group">
                <input type="text" class="form-control border-secondary" name="uId" placeholder="Id">
                <font color="red" th:text="${msg1}" id="uChk"></font>
                
              </div>
              <div class="form-group">
                <input type="password" class="form-control border-secondary" name="uPassword" placeholder="Password">
                <font color="red" th:text="${msg2}" id="fChk"></font>
              </div>
              <div class="form-group d-flex justify-content-between">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" checked="" id="rememberMeCheck">
                  <!-- <label class="custom-control-label" for="rememberMeCheck">Remember me</label>  -->
                </div>
                <!-- <a class="small-3" href="#">Forgot password?</a> -->
              </div>
              <div class="form-group mt-6">
                <button type="button" class="btn btn-block btn-warning" onclick="login();return false;" th:text="로그인">login</button>
              </div>
            </form>
            <!-- <span class="small">Don't have an account? <a href="#">Create an account</a></span> -->
          </div>
        </div>
      </div>
    </div>
</div>
