<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wicodus - Help Center</title>

    <!-- CSS -->
    <link href="assets/css/fonts/etline-font.min.css" rel="stylesheet">
    <link href="assets/css/fonts/fontawesome/all.min.css" rel="stylesheet">
    <link href="assets/css/fonts/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="assets/css/fonts/themify-icons.css" rel="stylesheet">

    <link href="assets/plugins/owl.carousel/owl.carousel.min.css" rel="stylesheet">

    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="icon" href="assets/img/favicon.png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Custom CSS -->
    
  </head>
  <body class="page-body">

    <!-- navbar -->
    <th:block th:if="${session.loginUser==null}">
    	<div id="common-navbar" th:include="common-navbar::common-navbar"></div>
    </th:block>
    <th:block th:unless="${session.loginUser==null}">
    	<div id="common-navbar-login" th:include="common-navbar-login::common-navbar-login"></div>
    </th:block>
    <!-- /.navbar -->

    <!-- main content -->
    <main class="main-content gradient-lg position-relative">

      <!-- overlay -->
      <div class="overlay pe-n br-n bp-c bs-c o-30" style="background-image: url(assets/img/bg/bg_shape.png);"></div>
      <!-- /.overlay -->

      <!-- content area -->
      <div class="content-section help_c text-light">
        <div class="container">
          <header class="header mb-8">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb-product breadcrumb breadcrumb-nowrap breadcrumb-angle bg-transparent pl-0 pr-0 mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Help Center</li>
              </ol>
            </nav>
          </header>
          <div class="position-relative">
            <div class="row mb-8 mb-lg-10">
              <div class="col-12">
                <header class="text-center mb-6 mb-md-8">
                  <h2 class="mb-0">Welcome to the Customer Support!</h2>
                  <hr class="w-10 border-top-2 mt-5 mb-6 mx-auto border-warning">
                </header>
                <div class="mb-8">
                  <form class="input-group border-0 input-transparent bg-transparent">
                    <input class="form-control border border-secondary border-right-0" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-warning text-secondary my-0 mx-0" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                  </form>
                </div>
                <div class="help_m row gutters-y text-center">
                  <div class="col-md-6 col-lg-3">
                    <a href="help-center-article.html">
                      <div class="card help_card">
                        <div class="card-body py-7">
                          <span class="ti-user lead-7 d-block mb-3"></span>
                          <h5 class="card-title mb-0">Account</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <a href="help-center-article.html">
                      <div class="card help_card">
                        <div class="card-body py-7">
                          <span class="ti-game lead-7 d-block mb-3"></span>
                          <h5 class="card-title mb-0">Games</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <a href="help-center-article.html">
                      <div class="card help_card">
                        <div class="card-body py-7">
                          <span class="ti-wallet lead-7 d-block mb-3"></span>
                          <h5 class="card-title mb-0">Payments</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <a href="help-center-article.html">
                      <div class="card help_card">
                        <div class="card-body py-7">
                          <span class="ti-settings lead-7 d-block mb-3"></span>
                          <h5 class="card-title mb-0">Settings</h5>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-6 col-lg-3">
                    <a href="help-center-article.html">
                      <div class="card help_card">
                        <div class="card-body py-7">
                          <span class="ti-email lead-7 d-block mb-3"></span>
                          <h5 class="card-title mb-0">Mailboxes</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <a href="help-center-article.html">
                      <div class="card help_card">
                        <div class="card-body py-7">
                          <span class="ti-lock lead-7 d-block mb-3"></span>
                          <h5 class="card-title mb-0">Security</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <a href="help-center-article.html">
                      <div class="card help_card">
                        <div class="card-body py-7">
                          <span class="ti-comments lead-7 d-block mb-3"></span>
                          <h5 class="card-title mb-0">Community</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <a href="help-center-article.html">
                      <div class="card help_card">
                        <div class="card-body py-7">
                          <span class="ti-mobile lead-7 d-block mb-3"></span>
                          <h5 class="card-title mb-0">Devices</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <header class="text-center mb-7 mb-md-8">
                  <h2 class="mb-0">Trending Topics</h2>
                  <hr class="w-10 border-top-2 mt-5 mb-6 mx-auto border-warning">
                </header>
                <div class="row gutters-y">
                  <div class="col-md-6 col-lg-3">
                    <div>
                      <h6>Getting Started</h6>
                      <ul class="list-unstyled mb-0">
                        <li>
                          <a href="help-center-article.html" class="help_trt">
                            <span class="ti-angle-right text-warning small-6 mr-2"></span>
                            How to Begin
                          </a>
                        </li>
                        <li>
                          <a href="help-center-article.html" class="help_trt">
                            <span class="ti-angle-right text-warning small-6 mr-2"></span>
                            Account Basics
                          </a>
                        </li>
                        <li>
                          <a href="help-center-article.html" class="help_trt">
                            <span class="ti-angle-right text-warning small-6 mr-2"></span>
                            Editor Basics
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <div>
                      <h6>Games</h6>
                      <ul class="list-unstyled mb-0">
                        <li>
                          <a href="help-center-article.html" class="help_trt">
                            <span class="ti-angle-right text-warning small-6 mr-2"></span>
                            System files
                          </a>
                        </li>
                        <li>
                          <a href="help-center-article.html" class="help_trt">
                            <span class="ti-angle-right text-warning small-6 mr-2"></span>
                            System requirements
                          </a>
                        </li>
                        <li>
                          <a href="help-center-article.html" class="help_trt">
                            <span class="ti-angle-right text-warning small-6 mr-2"></span>
                            Localization
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <div>
                      <h6>Mailboxes</h6>
                      <ul class="list-unstyled mb-0">
                        <li>
                          <a href="help-center-article.html" class="help_trt">
                            <span class="ti-angle-right text-warning small-6 mr-2"></span>
                            Mailbox Basics
                          </a>
                        </li>
                        <li>
                          <a href="help-center-article.html" class="help_trt">
                            <span class="ti-angle-right text-warning small-6 mr-2"></span>
                            Google Apps
                          </a>
                        </li>
                        <li>
                          <a href="help-center-article.html" class="help_trt">
                            <span class="ti-angle-right text-warning small-6 mr-2"></span>
                            Connecting a Mailbox
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <div>
                      <h6>Security</h6>
                      <ul class="list-unstyled mb-0">
                        <li>
                          <a href="help-center-article.html" class="help_trt">
                            <span class="ti-angle-right text-warning small-6 mr-2"></span>
                            2-step verification
                          </a>
                        </li>
                        <li>
                          <a href="help-center-article.html" class="help_trt">
                            <span class="ti-angle-right text-warning small-6 mr-2"></span>
                            Device sync
                          </a>
                        </li>
                        <li>
                          <a href="help-center-article.html" class="help_trt">
                            <span class="ti-angle-right text-warning small-6 mr-2"></span>
                            Connected services
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
      <!-- /.content area -->

    </main>
    <!-- /.main content -->

    <!-- footer -->
    <div id="common-footer" th:include="common-footer::common-footer"></div>
    <!-- /.footer -->

    <!-- sign-in -->
    <div id="common-sign-in" th:include="common-sign-in::common-sign-in"></div>
    <!-- /.sign-in -->
    
    <!-- sign-up -->
    <!-- 
    <div id="common-sign-up" th:include="common-sign-up::common-sign-up"></div>
     -->
    <!-- /.sign-up -->

    <!-- offcanvas-cart -->
    <div id="common-offcanvas-cart" th:include="common-offcanvas-cart::common-offcanvas-cart"></div>
    <!-- /.offcanvas-cart -->

    <!-- jQuery -->
    <script src="assets/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- User JS -->
    <script src="assets/js/scripts.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js" id="_mainJS" data-plugins="load"></script>
    
    <!-- Custom JS -->
    <script src="js/common.js"></script>
    <script src="js/user.js"></script>
    
  </body>
</html>