<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="|S-TEAM 라이브러리|">라이브러리</title>

    <!-- CSS -->
    <link href="assets/css/fonts/etline-font.min.css" rel="stylesheet">
    <link href="assets/css/fonts/fontawesome/all.min.css" rel="stylesheet">
    <link href="assets/css/fonts/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="assets/css/fonts/themify-icons.css" rel="stylesheet">

    <link href="assets/plugins/owl.carousel/owl.carousel.min.css" rel="stylesheet">

    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="icon" href="assets/img/favicon.png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Custom CSS -->
    <link href="css/custom-main.css" rel="stylesheet">
    
  </head>
  <body class="page-body">

    <!-- navbar -->
    <th:block th:if="${session.loginUser==null}">
    	<div id="common-navbar" th:include="common-navbar::common-navbar"></div>
    </th:block>
    <th:block th:unless="${session.loginUser==null}">
    	<div id="common-navbar-login" th:include="common-navbar-login::common-navbar-login"></div>
    </th:block>
    <!-- /.navbar -->

    <!-- header -->
    <header class="news-header p-relative">
      <div class="overlay br-n bs-c bp-r pe-n" data-parallax="scroll" data-z-index="1" data-image-src="assets/img/content/img_01-lg.jpg" th:data-image-src="|image/${game.resourcesList.get(0).resName}|"></div>
      <div class="position-relative zi-1 d-flex align-items-end h-100">
        <div class="release-subheader">
          <div class="release-container">
            <div class="text-light pl-xl-2 py-7 w-100">
              <div class="d-flex align-items-center">
                <div class="p-relative mr-6 d-none d-md-block">
                  <div class="badges badges-left badges-bottom text-white">
                    <div class="XL-rating_circle-wrapper"> 
                      <span class="XL-rating_circle-foreground">
                          <span class="rating_circle-number" th:text="${#numbers.formatDecimal(reviewAvg, 1, 2)}">9.8</span>
                      </span> 
                      <span class="XL-rating_circle" data-rating-total="9" th:data-rating-total="${#numbers.formatInteger(reviewAvg*2, 1)}"></span>
                    </div>
                  </div>
                </div>
                <div class="flex-1">
                  <h3 class="mb-0" th:text="${game.gName}">Magnis developers speak out on 'death march'</h3>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb-product breadcrumb breadcrumb-nowrap breadcrumb-angle bg-transparent pl-0 pb-0 pr-0 mb-0">
                      <li class="breadcrumb-item"><a href="#" th:href="@{store}" th:text="|모든 게임|">Home</a></li>
                      <li class="breadcrumb-item"><a href="#" th:href="@{store(ctNo=${game.category.ctNo})}" th:text="${game.category.ctName}">News</a></li>
                      <li class="breadcrumb-item active" aria-current="page" th:text="${game.gName}">Vestibulum</li>
                    </ol>
                  </nav>
                </div>
                <div class="release-soc-container pl-4">
                  <div class="">
                    <a href="#" class="release-soc bg-warning text-secondary">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </div>
                  <div class="">
                    <a href="#" class="release-soc bg-warning text-secondary">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </div>
                  <div class="">
                    <a href="#" class="release-soc bg-warning text-secondary">
                      <i class="fab fa-google-plus-g"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- /.header -->
	
    <!-- main content -->
    <main class="main-content position-relative">
	  
      <!-- overlay -->
      <div class="overlay pe-n br-n bp-c bs-c o-30" style="background-image: url(assets/img/bg/bg_shape.png);"></div>
      <!-- /.overlay -->

      <!-- content area -->
      <div class="content-section news-section carousel-spotlight ig-carousel text-light">
        <div class="container">
          <div class="position-relative">
            <div class="row">
              <div class="col-lg-8 mb-9 mb-lg-0">

                <!-- post content -->
                <div class="entry-content border border-secondary px-4 py-4">
                  <!-- 게임 설치, 실행 버튼 놓을 자리 -->
			    <div class='row' style="margin-bottom:50px">
			    	<div class='col-lg-2'>
			    		<th:block th:if="true">
			    		<div>
			    			<button id="install" type="button" class="btn btn-warning btn-xl">설치</button>
			    		</div>
			    		</th:block>
			    		<th:block th:if="false">
			    		<div>
			    			<button id="start" type="button" class="btn btn-warning btn-xl">시작</button>
			    		</div>
			    		</th:block>
			    	</div>
			    	<div class='col-lg-10'>
						<div class="progress" style="height: 50px">
						  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="height:50px; width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			    </div>
                  <div class="review d-flex mb-6 ml-md--6">
                    <div class="autor-post">
                      <div class="autor-btn-se">
                        <span class="autor-name-ft" th:text="|필요한 공간|">By AutorName</span>
                      </div>
                    </div>
                    <div class="post-date-se small text-warning mr-4 mr-md-7">
                      <span class="autor-date-ft" th:text="|${game.gDiskSpace}|">29th February 2020</span>
                    </div>
                    <div class="autor-post">
                      <div class="autor-btn-se">
                        <span class="autor-name-ft" th:text="|마지막 플레이|">By AutorName</span>
                      </div>
                    </div>
                    <div class="post-date-se small text-warning mr-4 mr-md-7">
                      <th:block th:if="${ownedGame.ogLastplay} != null">
                      <span class="autor-date-ft" th:text="${#dates.format(ownedGame.ogLastplay, 'MM월 dd일')}">29th February 2020</span>
                      </th:block>
                      <th:block th:if="${ownedGame.ogLastplay} == null">
                      <span class="autor-date-ft" th:text="|플레이 기록 없음|">29th February 2020</span>
                      </th:block>
                    </div>
                    <!-- 라벨 -->
                    <div class="autor-post">
                      <div class="autor-btn-se">
                        <span class="autor-name-ft" th:text="|플레이 시간|">By AutorName</span>
                      </div>
                    </div>
                    <div class="post-date-se small text-warning mr-4 mr-md-7">
                      <span class="autor-date-ft" th:text="|${#numbers.formatDecimal(ownedGame.ogPlaytime, 1, 1)}시간|">29th February 2020</span>
                    </div>
                    <!-- /.라벨 -->
                  </div>
                  <p class="lead-1" th:text="${game.gShortDesc}">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla dui ac ex volutpat pulvinar eu sit amet mi. Maecenas dictum quam ac odio fermentum tincidunt.
                  </p>
                  <blockquote class="blockquote px-6 my-8 text-center">
                    <hr class="w-50 my-6 border-white o-10">
                    <p class="mb-0" th:text="${game.gName}">Lorem ipsum dolor sit amet, consectetur.</p>
                    <hr class="w-50 my-6 border-white o-10">
                  </blockquote>
                  <p class="lead-1" th:text="${game.gLongDesc}">
                    Nullam pharetra blandit nisi, eu vehicula ipsum euismod id. Quisque eleifend aliquet neque et facilisis. Aenean in velit risus. Maecenas sollicitudin vitae magna vel molestie. Sed dapibus nisl erat, nec pharetra ligula finibus sit amet.Suspendisse fermentum, felis ut fringilla eleifend, odio enim malesuada enim, efficitur tempor arcu nisl a nibh. Morbi semper aliquam velit nec consectetur. Donec at aliquet risus, quis ullamcorper dolor. Nullam aliquam dapibus libero, id tincidunt arcu varius nec.
                  </p>
                  <div>
                    <hr class="mb-4 border-light o-10">
                    <div class="d-flex flex-column flex-md-row">
                      <div class="order-md-2 mb-4 mb-md-0">
                          <span class="mr-2">
                          	<i class="fas fa-thumbs-up text-warning mr-1"></i>
                          	<span th:text="${game.gSellCount}">25</span>
                          </span>
                          <span>
                          	<i class="fas fa-comments text-warning mr-1"></i>
                          	<span th:if="!${#lists.isEmpty(game.reviewList)}" th:text="${#lists.size(game.reviewList)}">18</span>
                          	<span th:if="${#lists.isEmpty(game.reviewList)}" th:text="0">18</span>
                          </span>
                      </div>
                      <div class="tags_cloud order-md-1 flex-1">
                        <a href="#" class="badge text-uppercase fw-600 pl-0 py-2">
                          Tags:
                        </a>
                        <!-- each -->
                        <th:block th:each="seq:${#numbers.sequence(0, 4)}">
                        <th:block th:if="${seq} < ${#lists.size(game.gameTagList)}">
                        <a href="#" th:href="@{store(tagNo=${game.gameTagList.get(seq).tag.tagNo})}" class="badge badge-warning px-4 py-2">
                          <i class="fas fa-tags"></i>
                          <span th:text="${game.gameTagList.get(seq).tag.tagName}">News</span>
                        </a>
                        </th:block>
                        </th:block>
                        <!-- /.each -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.post content -->

                <!-- prev/next article -->
                <!-- 
                <div class="entry-content border border-secondary px-4 py-4 mt-8">
                  <div class="row">
                    <div class="col-6">
                      <div class="pr-4">
                        <small class="text-warning">Previous article</small>
                        <a href="#" class="d-block">Maecenas in leo sodales, maximus erat at, cursus ipsum.</a>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="pl-4 text-right">
                        <small class="text-warning">Next article</small>
                        <a href="#" class="d-block">Maecenas in leo sodales, maximus erat at, cursus ipsum.</a>
                      </div>
                    </div>
                  </div>
                </div>
                 -->
                <!-- /.prev/next article -->

                <!-- comments -->
                <!-- 
                <div class="comments mt-8">
                  
                  <div class="comment-item">
                    <div class="comment-img">
                      <img src="assets/img/avatar/1.jpg" class="rounded" alt="User">
                    </div>
                    <div class="comment-main ml-3 ml-md-4"> 
                      <div class="d-md-flex comment-header px-4 py-3">
                        <div class="d-flex align-items-center flex-1">
                          <h6 class="comment-username fw-500 mb-0"><a href="#">Dewei Tsou</a></h6>
                        </div>
                        <div>
                          <a href="#" class="comment-metadata text-warning small">April 10, 2020 at 08:00 AM</a>
                        </div>
                      </div>
                      <div class="mb-6 p-4">
                        <p class="small-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam maximus lacus non tincidunt volutpat. Nullam volutpat mi nec nulla finibus tincidunt.</p>
                      </div>
                      <a href="#">
                        <div class="comment-reply text-right">
                          <span class="comment-reply-link">Reply</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  
                </div>
                 -->
                <!-- /.comments -->

                <!-- leave a comment -->
                <!-- 
                <div class="mt-8">
                  <div class="entry-content border px-4 py-6 border-secondary">
                    <h4 class="mb-4">Leave a Comment</h4>
                    <hr class="w-10 border-top-2 mt-5 mb-7 ml-0 mr-auto border-warning">
                    <form action="#" method="POST" data-form="mailer" class="input-transparent">
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <input class="form-control form-control" type="text" name="name" placeholder="Name" required="">
                        </div>
      
                        <div class="form-group col-md-6">
                          <input class="form-control form-control" type="email" name="email" placeholder="Email Address" required="">
                        </div>

                        <div class="form-group col-12">
                          <input class="form-control form-control" type="text" placeholder="Enter Website*">
                        </div>
                      </div>
      
                      <div class="form-group">
                        <textarea class="form-control form-control" rows="4" placeholder="Your Message" name="message" required=""></textarea>
                      </div>
                      <button class="btn btn-warning" type="submit">Send Message</button>
                    </form>
                  </div>
                </div>
                 -->
                <!-- /.leave a comment -->

                <!-- related posts -->
                <!-- 
                <div class="mt-8">
                  <h4 class="mb-0">Related Posts</h4>
                  <hr class="w-10 border-top-2 mt-5 mb-7 ml-0 mr-auto border-warning">
                  <div class="row gutters-y">
                    <div class="col-sm-6 col-lg-4">
                      <img src="assets/img/content/img_01.jpg" alt="Game" class="d-block mb-3">
                      <a href="#" class="d-block text-uppercase fw-500 lh-5 mb-2">Magnis developers speak out on 'death march'</a>
                      <span class="time d-block small-4"><i class="text-warning fas fa-calendar-alt"></i> 12 Apr, 2020</span>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                      <img src="assets/img/content/img_01.jpg" alt="Game" class="d-block mb-3">
                      <a href="#" class="d-block text-uppercase fw-500 lh-5 mb-2">Magnis developers speak out on 'death march'</a>
                      <span class="time d-block small-4"><i class="text-warning fas fa-calendar-alt"></i> 14 Apr, 2020</span>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                      <img src="assets/img/content/img_01.jpg" alt="Game" class="d-block mb-3">
                      <a href="#" class="d-block text-uppercase fw-500 lh-5 mb-2">Magnis developers speak out on 'death march'</a>
                      <span class="time d-block small-4"><i class="text-warning fas fa-calendar-alt"></i> 17 Apr, 2020</span>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                      <img src="assets/img/content/img_01.jpg" alt="Game" class="d-block mb-3">
                      <a href="#" class="d-block text-uppercase fw-500 lh-5 mb-2">Magnis developers speak out on 'death march'</a>
                      <span class="time d-block small-4"><i class="text-warning fas fa-calendar-alt"></i> 18 Apr, 2020</span>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                      <img src="assets/img/content/img_01.jpg" alt="Game" class="d-block mb-3">
                      <a href="#" class="d-block text-uppercase fw-500 lh-5 mb-2">Magnis developers speak out on 'death march'</a>
                      <span class="time d-block small-4"><i class="text-warning fas fa-calendar-alt"></i> 22 Apr, 2020</span>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                      <img src="assets/img/content/img_01.jpg" alt="Game" class="d-block mb-3">
                      <a href="#" class="d-block text-uppercase fw-500 lh-5 mb-2">Magnis developers speak out on 'death march'</a>
                      <span class="time d-block small-4"><i class="text-warning fas fa-calendar-alt"></i> 25 Apr, 2020</span>
                    </div>
                  </div>
                </div>
                 -->
                <!-- /.related posts -->

              </div>
              <div class="col-lg-4">
                <!-- 타이핑 바
                <div class="rounded mb-4">
                  <form class="input-group border-0 input-transparent bg-transparent">
                    <input class="form-control border border-secondary border-right-0" type="search" placeholder="Type something.." aria-label="Search">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-warning text-secondary my-0 mx-0" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                  </form>
                </div>
                 -->
                <div class="archive border border-secondary rounded mb-4">
                  <div class="bg-secondary px-4 py-1"><span class="fw-600 ls-1 text-uppercase small" th:text="|Latest Update|">Latest Articles</span></div>
                  <div class="py-6 py-xl-5 px-4">
                    <div class="row gutters-y">
                      <!-- 업데이트 - DB에 자료 없어서 그냥 임의로 만들어서 돌렸음. -->
                      <th:block th:each="seq:${#numbers.sequence(0, 3)}">
                      <div class="col-md-6 col-lg-12">
                        <!-- news-item -->
                        <div class="news-item">
                          <div class="row no-gutters">
                            <div class="col-lg-5 mb-5 mb-lg-0">
                              <div class="rounded overflow-h">
                                <div>
                                  <th:block th:if="${seq} < ${#lists.size(game.resourcesList)}">
                                  <img src="assets/img/content/img_01.jpg" alt="News" style="" th:src="|image/${game.resourcesList.get(seq).resName}|" th:style="${'width:150px; height:85px'}">
                                  </th:block>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-7">
                              <div class="text-gray pl-lg-3">
                                <div class="lh-1"><a href="news.html" th:href="@{library(gNo=${game.gNo})}" class="badge badge-secondary mb-2" th:text="Updates">Articles</a></div>
                                <h6 class="text-uppercase mb-0 small-2 fw-400">
                                	<a href="news-article.html" th:href="@{library(gNo=${game.gNo})}" th:text="|${game.gName}-ver1.3.${4-seq}-realease!|">Lorem ipsum dolor sit amet, consectetur</a>
                                </h6>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /.news-item -->
                      </div>
                      </th:block>
                      <!-- /.업데이트 -->
                      <!-- 
                      <div class="col-md-6 col-lg-12">
                        <div class="news-item">
                          <div class="row no-gutters">
                            <div class="col-lg-5 mb-5 mb-lg-0">
                              <div class="rounded overflow-h">
                                <div>
                                  <img src="assets/img/content/img_01.jpg" alt="News">
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-7">
                              <div class="text-gray pl-lg-3">
                                <div class="lh-1"><a href="news.html" class="badge badge-warning mb-2">News</a></div>
                                <h6 class="text-uppercase mb-0 small-2 fw-400"><a href="news-article.html">Lorem ipsum dolor sit amet, consectetur</a></h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-12">
                        <div class="news-item">
                          <div class="row no-gutters">
                            <div class="col-lg-5 mb-5 mb-lg-0">
                              <div class="rounded overflow-h">
                                <div>
                                  <img src="assets/img/content/img_01.jpg" alt="News">
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-7">
                              <div class="text-gray pl-lg-3">
                                <div class="lh-1"><a href="news.html" class="badge badge-warning mb-2">News</a></div>
                                <h6 class="text-uppercase mb-0 small-2 fw-400"><a href="news-article.html">Lorem ipsum dolor sit amet, consectetur</a></h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-12">
                        <div class="news-item">
                          <div class="row no-gutters">
                            <div class="col-lg-5 mb-5 mb-lg-0">
                              <div class="rounded overflow-h">
                                <div>
                                  <img src="assets/img/content/img_01.jpg" alt="News">
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-7">
                              <div class="text-gray pl-lg-3">
                                <div class="lh-1"><a href="news.html" class="badge badge-secondary mb-2">Articles</a></div>
                                <h6 class="text-uppercase mb-0 small-2 fw-400"><a href="news-article.html">Lorem ipsum dolor sit amet, consectetur</a></h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                       -->
                    </div>
                  </div>
                </div>
                <!-- timeline
                <div class="archive border border-secondary rounded mb-4">
                  <div class="bg-secondary px-4 py-1"><span class="fw-600 ls-1 text-uppercase small">Timeline</span></div>
                  <div class="pl-6 py-6">
                    
                    <div class="timeline-item" data-time="24 Mar 2020">
                      <span class="d-inline-block fw-500 text-warning mb-2">News</span>
                      <p class="small-1 lh-5 mb-0">
                        Nulla ullamcorper tempus ex commodo iaculis.
                      </p>
                    </div>
                    
                  </div>
                </div>
                 -->
                <!-- 
                <div class="filters border border-secondary rounded p-4 mb-4">
                  <ul class="sidebar-nav-light-hover list-unstyled mb-0 text-unset small-3 fw-600">

                    <li class="nav-item text-light transition mb-2 active">
                      <a href="" aria-expanded="false" class="nav-link py-2 px-3 text-uppercase nav-link-border">
                        <span class="p-collapsing-title">News</span>
                      </a>
                    </li>
                    <li class="nav-item text-light transition mb-2">
                      <a href="" aria-expanded="false" class="nav-link py-2 px-3 text-uppercase nav-link-border">
                        <span class="p-collapsing-title">Reviews</span>
                      </a>
                    </li>
                    <li class="nav-item text-light transition mb-2">
                      <a href="" aria-expanded="false" class="nav-link py-2 px-3 text-uppercase nav-link-border">
                        <span class="p-collapsing-title">PC</span>
                      </a>
                    </li>
                    <li class="nav-item text-light transition mb-2">
                      <a href="" aria-expanded="false" class="nav-link py-2 px-3 text-uppercase nav-link-border">
                        <span class="p-collapsing-title">Platform</span>
                      </a>
                    </li>
                    <li class="nav-item text-light transition mb-2">
                      <a href="" aria-expanded="false" class="nav-link py-2 px-3 text-uppercase nav-link-border">
                        <span class="p-collapsing-title">Xbox</span>
                      </a>
                    </li>
                  </ul>
                </div>
                 -->
                <!-- archive -->
                <!-- 
                <div id="news-archive" th:include="news-archive::news-archive"></div>
                 -->
                <!-- /.archive -->
              </div>
            </div>
          </div>
        </div>  
      </div>
      <!-- /.content area -->

    </main>
    <!-- /.main content -->

    <!-- footer -->
    <div id="common-footer" th:include="common-footer::common-footer"></div>
    <!-- /.footer -->

    <!-- sign-in -->
    <div id="common-sign-in" th:include="common-sign-in::common-sign-in"></div>
    <!-- /.sign-in -->
    
    <!-- sign-up -->
    <!-- 
    <div id="common-sign-up" th:include="common-sign-up::common-sign-up"></div>
     -->
    <!-- /.sign-up -->

    <!-- offcanvas-cart -->
    <div id="common-offcanvas-cart" th:include="common-offcanvas-cart::common-offcanvas-cart"></div>
    <!-- /.offcanvas-cart -->

    <!-- jQuery -->
    <script src="assets/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- User JS -->
    <script src="assets/js/scripts.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js" id="_mainJS" data-plugins="load"></script>
    
    <!-- Custom JS -->
    <script src="js/common.js"></script>
    <script src="js/user.js"></script>
    <script src="js/custom-main.js"></script>
    
  </body>
</html>