<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="news-archive">
	<div class="archive border border-secondary rounded">
		<div class="bg-secondary px-4 py-1"><span class="fw-600 ls-1 text-uppercase small">Achive</span></div>
		<div class="p-4">
			<ul class="list-unstyled small mb-0">
				<li><a href="">2020</a></li>
				<li><a href="">2019</a></li>
				<li><a href="">2018</a></li>
				<li><a href="">2017</a></li>
				<li><a href="">2016</a></li>
 				<li><a href="">2015</a></li>
				<li><a href="">2014</a></li>
				<li><a href="">2013</a></li>
			</ul>
		</div>
	</div>
</div>