<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>steam_main</title>
<link rel="stylesheet" href="css/steam.css">
<script type="text/javascript" src="js/steam.js"></script>
</head>
<body>
	<h3>steam_main</h3><hr>
	<ol>
		<li><a href="404">* 404</a></li>
		<li><a href="about">about</a></li>
		<li><a href="checkout-address">* checkout-address</a></li>
		<li><a href="checkout-order">* checkout-order</a></li>
		<li><a href="checkout-payment">* checkout-payment</a></li>
		<li><a href="coming_soon">coming_soon</a></li>
		<li><a href="contact">contact</a></li>
		<li><a href="forum">forum</a></li>
		<li><a href="forum-topic">forum-topic</a></li>
		<li><a href="help-center">help-center</a></li>
		<li><a href="help-center-article">help-center-article</a></li>
		<li><a href="main">* main</a></li>
		<li><a href="news">news</a></li>
		<li><a href="news-article">news-article</a></li>
		<li><a href="one-page">one-page</a></li>
		<li><a href="private-messaging">private-messaging</a></li>
		<li><a href="profile">* profile</a></li>
		<li><a href="store">* store</a></li>
		<li><a href="store-product?gNo=1">* store-product</a></li>
		<li><a href="library?gNo=1">* library</a></li>
	</ol>
</body>
</html>