<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.steam.wishList.mapper.WishListMapper">
	<!-- <resultMap type="com.itwill.steam.wishList.WishList" id="WishListUserGame" autoMapping="true">
		<association property="game" javaType="com.itwill.steam.game.Game" autoMapping="true">
		</association>
		<association property="user" javaType="com.itwill.steam.user.User" autoMapping="true">
		</association>
		<collection property="resourcesList" ofType="com.itwill.steam.resources.Resources" autoMapping="true">
			<result column="g_no1" property="gNo"/>
		</collection>
	</resultMap> -->
	
	<resultMap type="com.itwill.steam.wishList.WishList" id="WishListUserGameTag" autoMapping="true">
		<id column="wish_no" property="wishNo"/>
		<association property="game" javaType="com.itwill.steam.game.Game" autoMapping="true">
		<id column="g_no" property="gNo"/>
		<collection property="gameTagList" ofType="com.itwill.steam.gameTag.GameTag" autoMapping="true">
		<id column="gt_no" property="gtNo"/>
			<association property="tag" javaType="com.itwill.steam.tag.Tag" autoMapping="true">
			</association>
		</collection>
		<collection property="resourcesList" ofType="com.itwill.steam.resources.Resources" autoMapping="true">
		</collection>
		</association>
		<association property="user" javaType="com.itwill.steam.user.User" autoMapping="true">
		</association>
	</resultMap>	
	
	<insert id="insertWishList" parameterType="com.itwill.steam.wishList.WishList">
    	insert into wishList(wish_no, wish_date, u_no, g_no)
		values(wishList_wish_no_seq.nextval, sysdate, #{user.uNo}, #{game.gNo})
	</insert>
	
	<!-- 위시리스트에 해당 게임이 있는지 확인여부 -->
	<select id="existWishList" parameterType="java.util.Map" resultType="java.lang.Integer">
	    select count(*) from wishList where u_no = #{uNo} and g_no = #{gNo}
	</select>
<!-- 	<select id="selectWishList" parameterType="java.lang.Integer" resultMap="WishListUserGame">
		select 
			g.*
            , w.*
            ,(select res_name from resources where g_no = g.g_no and rownum=1) as res_name
		from game g 
		join wishList w on w.g_no=g.g_no 
		where w.u_no=#{uNo}
	</select> -->
	<select id="selectWishList" parameterType="java.lang.Integer" resultMap="WishListUserGameTag">
		select 
			*
		from wishList w
		join game g on g.g_no=w.g_no 
		join game_tag gt on w.g_no=gt.g_no 
		join tag t on t.tag_no=gt.tag_no
		join resources r on r.g_no = w.g_no
		where w.u_no=#{uNo}
	</select>	
	<delete id="deleteWishList" parameterType="com.itwill.steam.wishList.WishList">
		delete from wishList where wish_no = #{wishNo}
	</delete>
	<delete id="deleteAllWishLists" parameterType="com.itwill.steam.wishList.WishList">
		delete from wishList where u_no=#{uNo}
	</delete>
</mapper>